
.topnav{
    padding: 12px;
    margin: 12px;
    font-size: 14px;
}
.topnav a{
    padding: 10px;
}
li{
    border: 1px black;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
  border-bottom-style: solid ;
  color: black;
}
.gambar1{
    width: 120px;
}
.afamily{
    background-color: black;
    color: white;
    padding: 5px;
}
.afamily:hover{
    border-bottom-style:solid;
    color: white;
    padding: 10px;
}
.family2{
    background-color: white;
    color: black;
    padding: 5px;
}
.family2:hover{
    border-bottom-style:solid;
    padding: 10px;
}
.edge{
    color: brown;
    font-size: 16px;
    font-weight: bolder;
}
a.edge:hover{
     color: brown;
     border-bottom-style: solid brown;
     font-weight: bold;
}
.galeri12{
    padding:12px;
}
.utama{
    width: 100%;
}
footer{
    background-color: #f2f2f2;
    padding:20px ;
    font-size: 12px;
}
.bio{
    padding:100px;
}